@import "tailwindcss";
@plugin "@iconify/tailwind4";

@theme inline {
  --color-red-50: var(--antd-red-50);
  --color-red-100: var(--antd-red-100);
  --color-red-200: var(--antd-red-200);
  --color-red-300: var(--antd-red-300);
  --color-red-400: var(--antd-red-400);
  --color-red-500: var(--antd-red-500);
  --color-red-600: var(--antd-red-600);
  --color-red-700: var(--antd-red-700);
  --color-red-800: var(--antd-red-800);
  --color-red-900: var(--antd-red-900);
  --color-red: var(--antd-red);
  --color-volcano-50: var(--antd-volcano-50);
  --color-volcano-100: var(--antd-volcano-100);
  --color-volcano-200: var(--antd-volcano-200);
  --color-volcano-300: var(--antd-volcano-300);
  --color-volcano-400: var(--antd-volcano-400);
  --color-volcano-500: var(--antd-volcano-500);
  --color-volcano-600: var(--antd-volcano-600);
  --color-volcano-700: var(--antd-volcano-700);
  --color-volcano-800: var(--antd-volcano-800);
  --color-volcano-900: var(--antd-volcano-900);
  --color-volcano: var(--antd-volcano);
  --color-orange-50: var(--antd-orange-50);
  --color-orange-100: var(--antd-orange-100);
  --color-orange-200: var(--antd-orange-200);
  --color-orange-300: var(--antd-orange-300);
  --color-orange-400: var(--antd-orange-400);
  --color-orange-500: var(--antd-orange-500);
  --color-orange-600: var(--antd-orange-600);
  --color-orange-700: var(--antd-orange-700);
  --color-orange-800: var(--antd-orange-800);
  --color-orange-900: var(--antd-orange-900);
  --color-orange: var(--antd-orange);
  --color-gold-50: var(--antd-gold-50);
  --color-gold-100: var(--antd-gold-100);
  --color-gold-200: var(--antd-gold-200);
  --color-gold-300: var(--antd-gold-300);
  --color-gold-400: var(--antd-gold-400);
  --color-gold-500: var(--antd-gold-500);
  --color-gold-600: var(--antd-gold-600);
  --color-gold-700: var(--antd-gold-700);
  --color-gold-800: var(--antd-gold-800);
  --color-gold-900: var(--antd-gold-900);
  --color-gold: var(--antd-gold);
  --color-yellow-50: var(--antd-yellow-50);
  --color-yellow-100: var(--antd-yellow-100);
  --color-yellow-200: var(--antd-yellow-200);
  --color-yellow-300: var(--antd-yellow-300);
  --color-yellow-400: var(--antd-yellow-400);
  --color-yellow-500: var(--antd-yellow-500);
  --color-yellow-600: var(--antd-yellow-600);
  --color-yellow-700: var(--antd-yellow-700);
  --color-yellow-800: var(--antd-yellow-800);
  --color-yellow-900: var(--antd-yellow-900);
  --color-yellow: var(--antd-yellow);
  --color-lime-50: var(--antd-lime-50);
  --color-lime-100: var(--antd-lime-100);
  --color-lime-200: var(--antd-lime-200);
  --color-lime-300: var(--antd-lime-300);
  --color-lime-400: var(--antd-lime-400);
  --color-lime-500: var(--antd-lime-500);
  --color-lime-600: var(--antd-lime-600);
  --color-lime-700: var(--antd-lime-700);
  --color-lime-800: var(--antd-lime-800);
  --color-lime-900: var(--antd-lime-900);
  --color-lime: var(--antd-lime);
  --color-green-50: var(--antd-green-50);
  --color-green-100: var(--antd-green-100);
  --color-green-200: var(--antd-green-200);
  --color-green-300: var(--antd-green-300);
  --color-green-400: var(--antd-green-400);
  --color-green-500: var(--antd-green-500);
  --color-green-600: var(--antd-green-600);
  --color-green-700: var(--antd-green-700);
  --color-green-800: var(--antd-green-800);
  --color-green-900: var(--antd-green-900);
  --color-green: var(--antd-green);
  --color-cyan-50: var(--antd-cyan-50);
  --color-cyan-100: var(--antd-cyan-100);
  --color-cyan-200: var(--antd-cyan-200);
  --color-cyan-300: var(--antd-cyan-300);
  --color-cyan-400: var(--antd-cyan-400);
  --color-cyan-500: var(--antd-cyan-500);
  --color-cyan-600: var(--antd-cyan-600);
  --color-cyan-700: var(--antd-cyan-700);
  --color-cyan-800: var(--antd-cyan-800);
  --color-cyan-900: var(--antd-cyan-900);
  --color-cyan: var(--antd-cyan);
  --color-blue-50: var(--antd-blue-50);
  --color-blue-100: var(--antd-blue-100);
  --color-blue-200: var(--antd-blue-200);
  --color-blue-300: var(--antd-blue-300);
  --color-blue-400: var(--antd-blue-400);
  --color-blue-500: var(--antd-blue-500);
  --color-blue-600: var(--antd-blue-600);
  --color-blue-700: var(--antd-blue-700);
  --color-blue-800: var(--antd-blue-800);
  --color-blue-900: var(--antd-blue-900);
  --color-blue: var(--antd-blue);
  --color-geekblue-50: var(--antd-geekblue-50);
  --color-geekblue-100: var(--antd-geekblue-100);
  --color-geekblue-200: var(--antd-geekblue-200);
  --color-geekblue-300: var(--antd-geekblue-300);
  --color-geekblue-400: var(--antd-geekblue-400);
  --color-geekblue-500: var(--antd-geekblue-500);
  --color-geekblue-600: var(--antd-geekblue-600);
  --color-geekblue-700: var(--antd-geekblue-700);
  --color-geekblue-800: var(--antd-geekblue-800);
  --color-geekblue-900: var(--antd-geekblue-900);
  --color-geekblue: var(--antd-geekblue);
  --color-purple-50: var(--antd-purple-50);
  --color-purple-100: var(--antd-purple-100);
  --color-purple-200: var(--antd-purple-200);
  --color-purple-300: var(--antd-purple-300);
  --color-purple-400: var(--antd-purple-400);
  --color-purple-500: var(--antd-purple-500);
  --color-purple-600: var(--antd-purple-600);
  --color-purple-700: var(--antd-purple-700);
  --color-purple-800: var(--antd-purple-800);
  --color-purple-900: var(--antd-purple-900);
  --color-purple: var(--antd-purple);
  --color-magenta-50: var(--antd-magenta-50);
  --color-magenta-100: var(--antd-magenta-100);
  --color-magenta-200: var(--antd-magenta-200);
  --color-magenta-300: var(--antd-magenta-300);
  --color-magenta-400: var(--antd-magenta-400);
  --color-magenta-500: var(--antd-magenta-500);
  --color-magenta-600: var(--antd-magenta-600);
  --color-magenta-700: var(--antd-magenta-700);
  --color-magenta-800: var(--antd-magenta-800);
  --color-magenta-900: var(--antd-magenta-900);
  --color-magenta: var(--antd-magenta);
  --color-grey-50: var(--antd-grey-50);
  --color-grey-100: var(--antd-grey-100);
  --color-grey-200: var(--antd-grey-200);
  --color-grey-300: var(--antd-grey-300);
  --color-grey-400: var(--antd-grey-400);
  --color-grey-500: var(--antd-grey-500);
  --color-grey-600: var(--antd-grey-600);
  --color-grey-700: var(--antd-grey-700);
  --color-grey-800: var(--antd-grey-800);
  --color-grey-900: var(--antd-grey-900);
  --color-grey: var(--antd-grey);
  --color-primary: var(--antd-primary);
  --color-selected-background: var(--antd-selected-background);
  --color-hover: var(--antd-hover);
  --color-click: var(--antd-click);
  --color-success: var(--antd-success);
  --color-link: var(--antd-link);
  --color-warning: var(--antd-warning);
  --color-error: var(--antd-error);
  --color-background: var(--antd-background);
  --color-leading-text: var(--antd-leading-text);
  --color-normal-text: var(--antd-normal-text);
  --color-secondary-text: var(--antd-secondary-text);
  --color-disabled-text: var(--antd-disabled-text);
  --color-border: var(--antd-border);
  --color-separator: var(--antd-separator);
  --color-divider: var(--antd-divider);
  --color-layout-background: var(--antd-layout-background);
  --color-white: var(--antd-white);
  --color-black: var(--antd-black);
  --color-transparent: var(--antd-transparent);
  --color-current-color: var(--antd-current-color);
}
:root {
  --antd-red-50: #fff1f0;
  --antd-red-100: #ffccc7;
  --antd-red-200: #ffa39e;
  --antd-red-300: #ff7875;
  --antd-red-400: #ff4d4f;
  --antd-red-500: #f5222d;
  --antd-red-600: #cf1322;
  --antd-red-700: #a8071a;
  --antd-red-800: #820014;
  --antd-red-900: #5c0011;
  --antd-red: #f5222d;
  --antd-volcano-50: #fff2e8;
  --antd-volcano-100: #ffd8bf;
  --antd-volcano-200: #ffbb96;
  --antd-volcano-300: #ff9c6e;
  --antd-volcano-400: #ff7a45;
  --antd-volcano-500: #fa541c;
  --antd-volcano-600: #d4380d;
  --antd-volcano-700: #ad2102;
  --antd-volcano-800: #871400;
  --antd-volcano-900: #610b00;
  --antd-volcano: #fa541c;
  --antd-orange-50: #fff7e6;
  --antd-orange-100: #ffe7ba;
  --antd-orange-200: #ffd591;
  --antd-orange-300: #ffc069;
  --antd-orange-400: #ffa940;
  --antd-orange-500: #fa8c16;
  --antd-orange-600: #d46b08;
  --antd-orange-700: #ad4e00;
  --antd-orange-800: #873800;
  --antd-orange-900: #612500;
  --antd-orange: #fa8c16;
  --antd-gold-50: #fffbe6;
  --antd-gold-100: #fff1b8;
  --antd-gold-200: #ffe58f;
  --antd-gold-300: #ffd666;
  --antd-gold-400: #ffc53d;
  --antd-gold-500: #faad14;
  --antd-gold-600: #d48806;
  --antd-gold-700: #ad6800;
  --antd-gold-800: #874d00;
  --antd-gold-900: #613400;
  --antd-gold: #faad14;
  --antd-yellow-50: #feffe6;
  --antd-yellow-100: #ffffb8;
  --antd-yellow-200: #fffb8f;
  --antd-yellow-300: #fff566;
  --antd-yellow-400: #ffec3d;
  --antd-yellow-500: #fadb14;
  --antd-yellow-600: #d4b106;
  --antd-yellow-700: #ad8b00;
  --antd-yellow-800: #876800;
  --antd-yellow-900: #614700;
  --antd-yellow: #fadb14;
  --antd-lime-50: #fcffe6;
  --antd-lime-100: #f4ffb8;
  --antd-lime-200: #eaff8f;
  --antd-lime-300: #d3f261;
  --antd-lime-400: #bae637;
  --antd-lime-500: #a0d911;
  --antd-lime-600: #7cb305;
  --antd-lime-700: #5b8c00;
  --antd-lime-800: #3f6600;
  --antd-lime-900: #254000;
  --antd-lime: #a0d911;
  --antd-green-50: #f6ffed;
  --antd-green-100: #d9f7be;
  --antd-green-200: #b7eb8f;
  --antd-green-300: #95de64;
  --antd-green-400: #73d13d;
  --antd-green-500: #52c41a;
  --antd-green-600: #389e0d;
  --antd-green-700: #237804;
  --antd-green-800: #135200;
  --antd-green-900: #092b00;
  --antd-green: #52c41a;
  --antd-cyan-50: #e6fffb;
  --antd-cyan-100: #b5f5ec;
  --antd-cyan-200: #87e8de;
  --antd-cyan-300: #5cdbd3;
  --antd-cyan-400: #36cfc9;
  --antd-cyan-500: #13c2c2;
  --antd-cyan-600: #08979c;
  --antd-cyan-700: #006d75;
  --antd-cyan-800: #00474f;
  --antd-cyan-900: #002329;
  --antd-cyan: #13c2c2;
  --antd-blue-50: #e6f4ff;
  --antd-blue-100: #bae0ff;
  --antd-blue-200: #91caff;
  --antd-blue-300: #69b1ff;
  --antd-blue-400: #4096ff;
  --antd-blue-500: #1677ff;
  --antd-blue-600: #0958d9;
  --antd-blue-700: #003eb3;
  --antd-blue-800: #002c8c;
  --antd-blue-900: #001d66;
  --antd-blue: #1677ff;
  --antd-geekblue-50: #f0f5ff;
  --antd-geekblue-100: #d6e4ff;
  --antd-geekblue-200: #adc6ff;
  --antd-geekblue-300: #85a5ff;
  --antd-geekblue-400: #597ef7;
  --antd-geekblue-500: #2f54eb;
  --antd-geekblue-600: #1d39c4;
  --antd-geekblue-700: #10239e;
  --antd-geekblue-800: #061178;
  --antd-geekblue-900: #030852;
  --antd-geekblue: #2f54eb;
  --antd-purple-50: #f9f0ff;
  --antd-purple-100: #efdbff;
  --antd-purple-200: #d3adf7;
  --antd-purple-300: #b37feb;
  --antd-purple-400: #9254de;
  --antd-purple-500: #722ed1;
  --antd-purple-600: #531dab;
  --antd-purple-700: #391085;
  --antd-purple-800: #22075e;
  --antd-purple-900: #120338;
  --antd-purple: #722ed1;
  --antd-magenta-50: #fff0f6;
  --antd-magenta-100: #ffd6e7;
  --antd-magenta-200: #ffadd2;
  --antd-magenta-300: #ff85c0;
  --antd-magenta-400: #f759ab;
  --antd-magenta-500: #eb2f96;
  --antd-magenta-600: #c41d7f;
  --antd-magenta-700: #9e1068;
  --antd-magenta-800: #780650;
  --antd-magenta-900: #520339;
  --antd-magenta: #eb2f96;
  --antd-grey-50: #a6a6a6;
  --antd-grey-100: #999999;
  --antd-grey-200: #8c8c8c;
  --antd-grey-300: #808080;
  --antd-grey-400: #737373;
  --antd-grey-500: #666666;
  --antd-grey-600: #404040;
  --antd-grey-700: #1a1a1a;
  --antd-grey-800: #000000;
  --antd-grey-900: #000000;
  --antd-grey: #666666;
  --antd-primary: #1677ff;
  --antd-selected-background: #e6f4ff;
  --antd-hover: #4096ff;
  --antd-click: #0958d9;
  --antd-success: #52c41a;
  --antd-link: #1677ff;
  --antd-warning: #faad14;
  --antd-error: #ff4d4f;
  --antd-background: #fff;
  --antd-leading-text: rgba(0, 0, 0, 0.8784);
  --antd-normal-text: rgba(0, 0, 0, 0.8784);
  --antd-secondary-text: rgba(0, 0, 0, 0.651);
  --antd-disabled-text: rgba(0, 0, 0, 0.251);
  --antd-border: #d9d9d9;
  --antd-separator: rgba(5, 5, 5, 0.0588);
  --antd-divider: rgba(5, 5, 5, 0.0588);
  --antd-layout-background: #f5f5f5;
  --antd-white: #ffffff;
  --antd-black: #000000;
  --antd-transparent: transparent;
  --antd-current-color: currentcolor;
}
[data-theme=dark] {
  --antd-red-50: #2a1215;
  --antd-red-100: #431418;
  --antd-red-200: #58181c;
  --antd-red-300: #791a1f;
  --antd-red-400: #a61d24;
  --antd-red-500: #d32029;
  --antd-red-600: #e84749;
  --antd-red-700: #f37370;
  --antd-red-800: #f89f9a;
  --antd-red-900: #fac8c3;
  --antd-red: #d32029;
  --antd-volcano-50: #2b1611;
  --antd-volcano-100: #441d12;
  --antd-volcano-200: #592716;
  --antd-volcano-300: #7c3118;
  --antd-volcano-400: #aa3e19;
  --antd-volcano-500: #d84a1b;
  --antd-volcano-600: #e87040;
  --antd-volcano-700: #f3956a;
  --antd-volcano-800: #f8b692;
  --antd-volcano-900: #fad4bc;
  --antd-volcano: #d84a1b;
  --antd-orange-50: #2b1d11;
  --antd-orange-100: #442a11;
  --antd-orange-200: #593815;
  --antd-orange-300: #7c4a15;
  --antd-orange-400: #aa6215;
  --antd-orange-500: #d87a16;
  --antd-orange-600: #e89a3c;
  --antd-orange-700: #f3b765;
  --antd-orange-800: #f8cf8d;
  --antd-orange-900: #fae3b7;
  --antd-orange: #d87a16;
  --antd-gold-50: #2b2111;
  --antd-gold-100: #443111;
  --antd-gold-200: #594214;
  --antd-gold-300: #7c5914;
  --antd-gold-400: #aa7714;
  --antd-gold-500: #d89614;
  --antd-gold-600: #e8b339;
  --antd-gold-700: #f3cc62;
  --antd-gold-800: #f8df8b;
  --antd-gold-900: #faedb5;
  --antd-gold: #d89614;
  --antd-yellow-50: #2b2611;
  --antd-yellow-100: #443b11;
  --antd-yellow-200: #595014;
  --antd-yellow-300: #7c6e14;
  --antd-yellow-400: #aa9514;
  --antd-yellow-500: #d8bd14;
  --antd-yellow-600: #e8d639;
  --antd-yellow-700: #f3ea62;
  --antd-yellow-800: #f8f48b;
  --antd-yellow-900: #fafab5;
  --antd-yellow: #d8bd14;
  --antd-lime-50: #1f2611;
  --antd-lime-100: #2e3c10;
  --antd-lime-200: #3e4f13;
  --antd-lime-300: #536d13;
  --antd-lime-400: #6f9412;
  --antd-lime-500: #8bbb11;
  --antd-lime-600: #a9d134;
  --antd-lime-700: #c9e75d;
  --antd-lime-800: #e4f88b;
  --antd-lime-900: #f0fab5;
  --antd-lime: #8bbb11;
  --antd-green-50: #162312;
  --antd-green-100: #1d3712;
  --antd-green-200: #274916;
  --antd-green-300: #306317;
  --antd-green-400: #3c8618;
  --antd-green-500: #49aa19;
  --antd-green-600: #6abe39;
  --antd-green-700: #8fd460;
  --antd-green-800: #b2e58b;
  --antd-green-900: #d5f2bb;
  --antd-green: #49aa19;
  --antd-cyan-50: #112123;
  --antd-cyan-100: #113536;
  --antd-cyan-200: #144848;
  --antd-cyan-300: #146262;
  --antd-cyan-400: #138585;
  --antd-cyan-500: #13a8a8;
  --antd-cyan-600: #33bcb7;
  --antd-cyan-700: #58d1c9;
  --antd-cyan-800: #84e2d8;
  --antd-cyan-900: #b2f1e8;
  --antd-cyan: #13a8a8;
  --antd-blue-50: #111a2c;
  --antd-blue-100: #112545;
  --antd-blue-200: #15325b;
  --antd-blue-300: #15417e;
  --antd-blue-400: #1554ad;
  --antd-blue-500: #1668dc;
  --antd-blue-600: #3c89e8;
  --antd-blue-700: #65a9f3;
  --antd-blue-800: #8dc5f8;
  --antd-blue-900: #b7dcfa;
  --antd-blue: #1668dc;
  --antd-geekblue-50: #131629;
  --antd-geekblue-100: #161d40;
  --antd-geekblue-200: #1c2755;
  --antd-geekblue-300: #203175;
  --antd-geekblue-400: #263ea0;
  --antd-geekblue-500: #2b4acb;
  --antd-geekblue-600: #5273e0;
  --antd-geekblue-700: #7f9ef3;
  --antd-geekblue-800: #a8c1f8;
  --antd-geekblue-900: #d2e0fa;
  --antd-geekblue: #2b4acb;
  --antd-purple-50: #1a1325;
  --antd-purple-100: #24163a;
  --antd-purple-200: #301c4d;
  --antd-purple-300: #3e2069;
  --antd-purple-400: #51258f;
  --antd-purple-500: #642ab5;
  --antd-purple-600: #854eca;
  --antd-purple-700: #ab7ae0;
  --antd-purple-800: #cda8f0;
  --antd-purple-900: #ebd7fa;
  --antd-purple: #642ab5;
  --antd-magenta-50: #291321;
  --antd-magenta-100: #40162f;
  --antd-magenta-200: #551c3b;
  --antd-magenta-300: #75204f;
  --antd-magenta-400: #a02669;
  --antd-magenta-500: #cb2b83;
  --antd-magenta-600: #e0529c;
  --antd-magenta-700: #f37fb7;
  --antd-magenta-800: #f8a8cc;
  --antd-magenta-900: #fad2e3;
  --antd-magenta: #cb2b83;
  --antd-grey-50: #151515;
  --antd-grey-100: #1f1f1f;
  --antd-grey-200: #2d2d2d;
  --antd-grey-300: #393939;
  --antd-grey-400: #494949;
  --antd-grey-500: #5a5a5a;
  --antd-grey-600: #6a6a6a;
  --antd-grey-700: #7b7b7b;
  --antd-grey-800: #888888;
  --antd-grey-900: #969696;
  --antd-grey: #5a5a5a;
  --antd-primary: #1668dc;
  --antd-selected-background: #111a2c;
  --antd-hover: #1554ad;
  --antd-click: #3c89e8;
  --antd-success: #49aa19;
  --antd-link: #1668dc;
  --antd-warning: #d89614;
  --antd-error: #a61d24;
  --antd-background: #141414;
  --antd-leading-text: rgba(255,255,255,0.851);
  --antd-normal-text: rgba(255,255,255,0.851);
  --antd-secondary-text: rgba(255,255,255,0.651);
  --antd-disabled-text: rgba(255,255,255,0.251);
  --antd-border: #424242;
  --antd-separator: rgba(253,253,253,0.1216);
  --antd-divider: rgba(253,253,253,0.1216);
  --antd-layout-background: #000;
  --antd-white: #ffffff;
  --antd-black: #000000;
  --antd-transparent: transparent;
  --antd-current-color: currentcolor;
}

html,
body {
  width: 100vw;
  height: 100vh;
  color: var(--antd-normal-text);
  position: relative;
  font-size: 14px;
}
